


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: auto;
}

#digital-clock {
    font-family: Arial, sans-serif;
    font-size: 3vw; 
    text-align: center;
    padding: 5vw;
    width: 80%; 
    max-width: 730px;
    margin: 30vh auto;
    color: rgb(247, 247, 247);
    border-radius: 50px; 
    font-family: monospace;
    text-shadow: 20px 10px 10px rgba(0, 0, 0, 0.5);

    
}

html {
    background: radial-gradient(circle, rgb(50, 7, 88) 0%, rgb(221, 183, 183) 35%, rgb(255, 220, 138) 100%);
    background-repeat: no-repeat;
    min-height: 100vh; 
}


@media (max-width: 600px) {
    #digital-clock {
        font-size: 8vw; 
        padding: 8vw; 
        margin: 30vh auto; 
        border-radius: 30px;
    }
}
@media (max-width: 1440px) {
    #digital-clock {
        font-size: 4vw; 
        padding: 8vw; 
        margin: 30vh auto; 
        border-radius: 30px;
    }
}
@media (max-width: 1024px) {
    #digital-clock {
        font-size: 4vw; 
        padding: 8vw; 
        margin: 30vh auto; 
        border-radius: 30px;
    }
}
@media (max-width: 420px) {
    #digital-clock {
        font-size: 6vw; 
        padding: 8vw; 
        margin: 38vh auto; 
        border-radius: 30px;
    }
}

@media (max-width: 1259px) {
    #digital-clock {
        font-size: 3vw; 
        padding: 8vw; 
        margin: 30vh auto; 
        border-radius: 30px;
    }
}


@media (max-width: 375px) {
    #digital-clock {
        font-size: 6vw; 
        padding: 8vw; 
        margin: 35vh auto; 
        border-radius: 30px;
    }
}




