div .short{

   margin: 15px;
   display: block;
   
   justify-content: center;
    display: flex;
}
.btn1{
    text-decoration-color: aliceblue;
    border: 1px solid blueviolet;
}
.btn1:hover{
    background-color: rgb(91, 98, 104);
}
.btn1::after{
    background-color: blanchedalmond;
}